@page
@model MySOAPApp.Pages.IndexModel
@{
}
<div style="
    border:1px solid #808080;
    background-color:#f5f5f5;
    padding:15px;">

    <h3>Hinweis</h3>

    <p>
        Diese Website befindet sich derzeit in Entwickluuuung.
    </p>

    <p>
        Dokumentation, Funktionen und Schnittstellen können sich
        ohne vorherige Ankündigung ändern.
    </p>

    <p>
        Stand: Juni 2026
    </p>

</div>

<h1>Azure SOAP Gateway</h1>

<p>Startseite funktioniert.</p>

<ul>
    <li>
        <a href="/docs">Dokumentation</a>
    </li>
</ul>